/* make column response in Bootstrap */
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}


/* end of  makong column response in Bootstrap */



.header_text{
    color:red;
    size: 50px;
}

.bg-light-dark{
    background-color: #d0fafee2;
}